[submodule "intro/hello_cargo"]
	path = intro/hello_cargo
	url = git@github.com:xmawja/hello_cargo.git
[submodule "intro/hello_world"]
	path = intro/hello_world
	url = git@github.com:xmawja/hello_world.git
